{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
     content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <title>Inicio</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.cdnfonts.com/css/averta-blackitalic" rel="stylesheet">
    <script src="https://kit.fontawesome.com/928971cd2d.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/screen1.css'%}">
    
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <img src="{% static 'img/Logo.png'%}" alt="Logo" class="Logo">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'screen1'%}">Explorar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Aprender</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user'%}">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Noticias</a>
            </li>

          </ul>
          <form class="d-flex">
            <input class="form-control me-sm-2" type="search" placeholder="Buscar en Artiko">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
          </form>
          <a href="{% url 'shop'%}">
          <i  class='bx bxs-cart' id="cart-icon" href="{% url 'shop'%}" ></i>
          </a>
        </div>
      </div>
    </nav>
  </header>
    
<!--carrusel-->
<div class="carrusel">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'img/product9.png'%}" class="d-block" alt="..." style="width: 700px; height: 400px;">
                <div class="carousel-caption d-none d-md-block">
                  
                </div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/product2.png'%}" class="d-block" alt="..." style="width: 700px; height: 400px;">
                <div class="carousel-caption d-none d-md-block">
                  
                </div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/product11.png'%}" class="d-block " alt="..." style="width: 700px; height: 400px;">
                <div class="carousel-caption d-none d-md-block">
                  
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
</div>
<div class = "container">
  <div class = "image-gallery">
    <a href="{% static 'placeholder/asset_1.jpg'%}" class="img-1"></a>
    <a href="{% static 'placeholder/asset_2.jpg'%}" class="img-2"></a>
    <a href="{% static 'placeholder/asset_3.jpg'%}"  class="img-3"></a>
    <a href="{% static 'placeholder/asset_4.jpg'%}" class="img-4"></a>
    <a href="{% static 'placeholder/asset_5.jpg'%}"  class="img-5"></a>
    <a href="{% static 'placeholder/asset_6.jpg'%}"  class="img-6"></a>
    <a href="{% static 'placeholder/asset_7.jpg'%}"  class="img-7"></a>
    <a href="{% static 'placeholder/asset_8.jpg'%}"  class="img-8"></a>


  </div>

</div>

<footer class=" text-center"
style="background-color: #1F1F23">
  
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #3b5998;"
        href="#!"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #55acee;"
        href="#!"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #dd4b39;"
        href="#!"
        role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #ac2bac;"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #0082ca;"
        href="#!"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <!-- Github -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #333333;"
        href="#!"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #F2387C">
    © 2023 Copyright:
    <a class="text-white" href="#" text-decoration="none" >ARTIKO.COM </a>
  </div>
  <!-- Copyright -->
</footer>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>